html lang="ru"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="X-UA-Compatible" content="ie=edge"
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
    title Document
  body
    .wrapper
      .block-header
        header.header
          .header-wrap
            a.header-wrap__logo href="#" LOGO
            .header-wrap__title CRM
          .block-header-accordion id="accordion"
            .accordion-item.mb_19
              .button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                .header-profile
                  .header-profile__img
                  .header-profile__title Евгений Шпильман
            .accordion-item
              .button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                span Операционная деятель
              .accordion-inner id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                a.accordion-inner__item href="#"
                  i.zmdi.zmdi-car
                  span Dashboard
                a.accordion-inner__item href="#"
                  i.zmdi.zmdi-car
                  span Бронирования
                  .label-red 48
                .block-accordion-inner#accordion-inner
                  .accordion-inner__item.dropdown-toggle(data-toggle="collapse" data-target="#accordion-inner-item1" aria-expanded="false" aria-controls="accordion-inner-item1")
                    div
                      i.zmdi.zmdi-car
                      span Автомобили
                      .label-red 164
                  .header-inner-list id="accordion-inner-item1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-inner"
                    a.header-inner-list__item href="#"
                      i.zmdi.zmdi-square-o
                      span Автопарк
                    a.header-inner-list__item href="#"
                      i.zmdi.zmdi-square-o
                      span Обслуживание
                    a.header-inner-list__item href="#"
                      i.zmdi.zmdi-square-o
                      span Склад

            .accordion-item
              .button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo")
                span Операционная деятель
              .accordion-inner id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                a.accordion-inner__item href="#"
                  i.zmdi.zmdi-car
                  span Dashboard
                a.accordion-inner__item href="#"
                  i.zmdi.zmdi-car
                  span Бронирования
                  .label-red 48
                a.accordion-inner__item href="#"
                  i.zmdi.zmdi-car
                  span Автомобили
                  .label-red 164


