html lang="ru"
	head
		meta charset="UTF-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		meta http-equiv="X-UA-Compatible" content="ie=edge"
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
		title Document
	body
		.wrapper.__full-screen.__bg-login
			.container-fluid
				.main-header
					a.main-header_logo href="#"
						img src="../images/logo.svg" alt=""/
				.block-auth
					.block-auth_header
                      	h2 Авторизация
					.block-auth_content
                      	form.block-auth_form
                            fieldset
								.form-group-material.form-group-material_bold
									input type="text" valid-email="true" class="form-control" valid-msg="Пользователь с таким e-mail отсутствует"
									span class="highlight"
									span class="bar"
									label E-mail
							fieldset
								.form-group-material.form-group-material_bold
									input type="password"
									span class="highlight"
									span class="bar"
									label Пароль
							fieldset.block-auth_form_footer
								a href="#" Забыли пароль?
								button.button.button_yellow-radius Войти

