html lang="ru"
	head
		meta charset="UTF-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		meta http-equiv="X-UA-Compatible" content="ie=edge"
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
		title Document
	body
		.wrapper
			.container-fluid
				.block-header
					header.header
						.header-wrap
							a.header-wrap__logo href="#"
								img src="../images/logo.svg" alt=""/
							.header-wrap__title CRM
						.header-media-action
							.search-field.inline-elements
								.form-group-material
									input type="text"
									span class="highlight"
									span class="bar"
									label Поиск
								.button-ball
									i class="zmdi zmdi-search zmdi-hc-fw"
							.dropdown.custom-dropdown
								button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Санкт-Петербург — ООО "Сторлет Групп"
								.dropdown-menu(aria-labelledby="dropdownMenu2")
									a href="#" class="dropdown-item" Только просмотр
									a href="#" class="dropdown-item" Просмотр и добавление
									a href="#" class="dropdown-item" Просмотр, добавление, изменение
							.button.button_green-radius
								i class="zmdi zmdi-plus"
								span Новый заказ
						.block-header-accordion id="accordion"
							.accordion-item.mb_26
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accardion1" aria-expanded="false" aria-controls="accardion1")
									.header-profile
										.header-profile__img
										.header-profile__title Евгений Шпильман
							.accordion-item
								.button-toggle.dropdown-toggle(
									data-toggle="collapse"
									data-target="#accardion2"
									aria-expanded="false"
									aria-controls="accardion2")
									span Операционная деятельность
								.accordion-inner id="accardion2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.icon.icon-calendar
										span Dashboard
									a.accordion-inner__item href="#"
										i.icon.icon-sport-car
										span Бронирования
										.label-red 48
									.block-accordion-inner#accordion-inner
										.accordion-inner__item.dropdown-toggle(data-toggle="collapse" data-target="#accordion-inner-item1" aria-expanded="false" aria-controls="accordion-inner-item1")
											div
												i.icon.icon-wrench
												span Автомобили
												.label-red 164
										.header-inner-list id="accordion-inner-item1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-inner"
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Автопарк
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Обслуживание
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Склад
									a.accordion-inner__item href="#"
										i.icon.icon-calendar
										span Цены
									a.accordion-inner__item href="#"
										i.icon.icon-pin
										span Обратная связь
										.label-red 15
									a.accordion-inner__item href="#"
										i.icon.icon-line-chart
										span Долгосрочная аренда
									a.accordion-inner__item href="#"
										i.icon.icon-public-transport
										span Отчетность
									a.accordion-inner__item href="#"
										i.icon.icon-envelope
										span Клиенты
										.label-red 98
									a.accordion-inner__item href="#"
										i.icon.icon-calc
										span Должники
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion3" aria-expanded="false" aria-controls="collapseTwo")
									span Операционная деятельность
								.accordion-inner id="accordion3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164

							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion4" aria-expanded="false" aria-controls="collapseTwo")
									span Управление отделением
								.accordion-inner id="accordion4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion5" aria-expanded="false" aria-controls="collapseTwo")
									span Управление сайтом
								.accordion-inner id="accordion5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion6" aria-expanded="false" aria-controls="collapseTwo")
									span Управление бизнесом
								.accordion-inner id="accordion6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164

				.main
					.media-toggle-menu
						span Сотрудники
						.toggle-menu
							span
							span
							span
					.main-header.employees-header.mb_37
						.row.justify-content-lg-between
							.col-lg-3
								.main-header-action
									.button-ball.toggle-slide-menu.font-color_gray
										i class="zmdi zmdi-more-vert zmdi-hc-fw"
									span.text-18.fw_bold Сотрудники
	
							.col-lg-auto
								.employees-header__settings.inline-elements
									.dropdown.custom-dropdown
										button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Санкт-Петербург — ООО "Сторлет Групп"
										.dropdown-menu(aria-labelledby="dropdownMenu2")
											a href="#" class="dropdown-item" Только просмотр
											a href="#" class="dropdown-item" Просмотр и добавление
											a href="#" class="dropdown-item" Просмотр, добавление, изменение
									.search-field.inline-elements.mr-3
										.form-group-material
											input type="text"
											span class="highlight"
											span class="bar"
											label Поиск
										.button-ball
											i class="zmdi zmdi-search zmdi-hc-fw"
									.button.button_green-radius
										i class="zmdi zmdi-plus"
										span Новый заказ
					.block-employees-table
						.employees-table-header.inline-elements
							.employees-table-header-search.inline-elements
								.form-group-material
									input#table-search.material-field type="text"
									span class="highlight"
									span class="bar"
									label.material-label for="table-search" Поиск сотрудника по фамилии, имени, или отделению
									/ label.material-label for="table-search" Поиск сотрудника
									i class="zmdi zmdi-search zmdi-hc-fw"
								.styled-checkbox-group
									.checkbox
										label
											input type="checkbox" name="checkbox1"/
											span.checkbox-material
												span.check
											| Только активные
							.button
								i class="zmdi zmdi-plus"
								span Добавить нового сотрудника
						.media-table id="accordion-table"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table1" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Смирнов Андрей
											span Глобальный менеджер
									.media-table__inner id="table1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title E-mail
											a href="mailto:administrator@ismu.baikal.ru" administrator@ismu.baikal.ru
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table2" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Иванов Виталий
											span Глобальный менеджер
									.media-table__inner id="table2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title E-mail
											a href="mailto:administrator@ismu.baikal.ru" administrator@ismu.baikal.ru
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table3" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Константин Абубакиров
											span Глобальный менеджер
									.media-table__inner id="table3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title E-mail
											a href="mailto:administrator@ismu.baikal.ru" administrator@ismu.baikal.ru
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table3" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Смирнов Андрей
											span Глобальный менеджер
									.media-table__inner id="table3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title E-mail
											a href="mailto:administrator@ismu.baikal.ru" administrator@ismu.baikal.ru
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table3" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Иванов Виталий
											span Глобальный менеджер
									.media-table__inner id="table3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title E-mail
											a href="mailto:administrator@ismu.baikal.ru" administrator@ismu.baikal.ru
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
						table.table.custom-table.main-table
							thead
								tr
									td
										a.table__filter href="#"
											span Фамилия
											i.icon.icon-arrows-bottom
									td
										a.table__filter href="#"
											span Имя
											i.icon.icon-sort
									td
										a.table__filter href="#"
											span E-MAIL
											i.icon.icon-sort
									td
										a.table__filter href="#"
											span Роль
											i.icon.icon-sort
									td
										a.table__filter href="#"
											span Статус
											i.icon.icon-sort
									td
										.table__filter
											span Доступ к отделениям
							tbody
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
								tr.no-active
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Неактивен
									td —
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td
										span.toggle-table( data-toggle="collapse" data-target="#table-toggle1" aria-expanded="false") 8 отделений
										ul class="collapse" id="table-toggle1"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
											li Челябинск — ООО "Сторлет Групп"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td
										span.toggle-table( data-toggle="collapse" data-target="#table-toggle2" aria-expanded="false") 11 отделений
										ul class="collapse" id="table-toggle2"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
											li Челябинск — ООО "Сторлет Групп"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"

								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td
										span.toggle-table( data-toggle="collapse" data-target="#table-toggle3" aria-expanded="false") 8 отделений
										ul class="collapse" id="table-toggle3"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
											li Челябинск — ООО "Сторлет Групп"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td
										span.toggle-table( data-toggle="collapse" data-target="#table-toggle4" aria-expanded="false") 11 отделений
										ul class="collapse" id="table-toggle4"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
											li Челябинск — ООО "Сторлет Групп"
											li Санкт-Петербург — ООО "Сторлет Групп"
											li Набережные Челны — Автопрокат "Форвард"
											li Казань — Автопрокат "Форвард"
											li Волгоград — Автопрокат "Форвард"
											li Новосибирск — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
								tr
									td Смирнов
									td Андрей
									td administrator@ismu.baikal.ru
									td Глобальный менеджер
									td
										.status
											span Активен
											i class="icon icon-check"
									td Санкт-Петербург — ООО "Сторлет Групп"
