html lang="ru"
	head
		meta charset="UTF-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		meta http-equiv="X-UA-Compatible" content="ie=edge"
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
		title Document
	body
		.wrapper
			.container-fluid
				.block-header
					header.header
						.header-wrap
							a.header-wrap__logo href="#"
								img src="../images/logo.svg" alt=""/
							.header-wrap__title CRM
						.header-media-action
							.search-field.inline-elements
								.form-group-material
									input type="text"
									span class="highlight"
									span class="bar"
									label Поиск
								.button-ball
									i class="zmdi zmdi-search zmdi-hc-fw"
							.dropdown.custom-dropdown
								button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Санкт-Петербург — ООО "Сторлет Групп"
								.dropdown-menu(aria-labelledby="dropdownMenu2")
									a href="#" class="dropdown-item" Только просмотр
									a href="#" class="dropdown-item" Просмотр и добавление
									a href="#" class="dropdown-item" Просмотр, добавление, изменение
							.button.button_green-radius
								i class="zmdi zmdi-plus"
								span Новый заказ
						.block-header-accordion id="accordion"
							.accordion-item.mb_26
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accardion1" aria-expanded="false" aria-controls="accardion1")
									.header-profile
										.header-profile__img
										.header-profile__title Евгений Шпильман
							.accordion-item
								.button-toggle.dropdown-toggle(
									data-toggle="collapse"
									data-target="#accardion2"
									aria-expanded="false"
									aria-controls="accardion2")
									span Операционная деятельность
								.accordion-inner id="accardion2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.icon.icon-calendar
										span Dashboard
									a.accordion-inner__item href="#"
										i.icon.icon-sport-car
										span Бронирования
										.label-red 48
									.block-accordion-inner#accordion-inner
										.accordion-inner__item.dropdown-toggle(data-toggle="collapse" data-target="#accordion-inner-item1" aria-expanded="false" aria-controls="accordion-inner-item1")
											div
												i.icon.icon-wrench
												span Автомобили
												.label-red 164
										.header-inner-list id="accordion-inner-item1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-inner"
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Автопарк
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Обслуживание
											a.header-inner-list__item href="#"
												i.icon.icon-hexagon
												span Склад
									a.accordion-inner__item href="#"
										i.icon.icon-calendar
										span Цены
									a.accordion-inner__item href="#"
										i.icon.icon-pin
										span Обратная связь
										.label-red 15
									a.accordion-inner__item href="#"
										i.icon.icon-line-chart
										span Долгосрочная аренда
									a.accordion-inner__item href="#"
										i.icon.icon-public-transport
										span Отчетность
									a.accordion-inner__item href="#"
										i.icon.icon-envelope
										span Клиенты
										.label-red 98
									a.accordion-inner__item href="#"
										i.icon.icon-calc
										span Должники
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion3" aria-expanded="false" aria-controls="collapseTwo")
									span Операционная деятельность
								.accordion-inner id="accordion3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164

							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion4" aria-expanded="false" aria-controls="collapseTwo")
									span Управление отделением
								.accordion-inner id="accordion4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion5" aria-expanded="false" aria-controls="collapseTwo")
									span Управление сайтом
								.accordion-inner id="accordion5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164
							.accordion-item
								.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#accordion6" aria-expanded="false" aria-controls="collapseTwo")
									span Управление бизнесом
								.accordion-inner id="accordion6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Dashboard
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Бронирования
										.label-red 48
									a.accordion-inner__item href="#"
										i.zmdi.zmdi-car
										span Автомобили
										.label-red 164

				.main
					.media-toggle-menu
						span Сотрудники
						.toggle-menu
							span
							span
							span
					.main-header.employees-header.mb_37
						.row.justify-content-lg-between
							.col-lg-3
								.main-header-action
									.button-ball.toggle-slide-menu.font-color_gray
										i class="zmdi zmdi-more-vert zmdi-hc-fw"
									span.text-18.fw_bold Регионы
	
							.col-lg-auto
								.employees-header__settings.inline-elements
									.dropdown.custom-dropdown
										button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Санкт-Петербург — ООО "Сторлет Групп"
										.dropdown-menu(aria-labelledby="dropdownMenu2")
											a href="#" class="dropdown-item" Только просмотр
											a href="#" class="dropdown-item" Просмотр и добавление
											a href="#" class="dropdown-item" Просмотр, добавление, изменение
									.search-field.inline-elements.mr-3
										.form-group-material
											input type="text"
											span class="highlight"
											span class="bar"
											label Поиск
										.button-ball
											i class="zmdi zmdi-search zmdi-hc-fw"
									.button.button_green-radius
										i class="zmdi zmdi-plus"
										span Новый заказ
					.regions-statistic
						.row
							.col-lg-4
								.regions-statistic_item
									.regions-statistic_item_content
										.regions-statistic_img.__branch
											i.icon.icon-pin-round
										.regions-statistic_text
                                          	h6 Активных отделений
                                          	span 190
									.regions-statistic_item_footer
                                      	p Редактировалось: 13.01.2017
							.col-lg-4
								.regions-statistic_item
									.regions-statistic_item_content
										.regions-statistic_img.__city
											i.icon.icon-city
										.regions-statistic_text
											h6 Активных городов
											span 36
									.regions-statistic_item_footer
										p Редактировалось: 13.01.2017
							.col-lg-4
								.regions-statistic_item
									.regions-statistic_item_content
										.regions-statistic_img.__country
											i.icon.icon-pin-map
										.regions-statistic_text
											h6 Активных стран
											span 5
									.regions-statistic_item_footer
										p Редактировалось: 13.01.2017
					.block-employees-table
						ul.employees-table-nav
					  		li.employees-table-nav_item.__active
                            	a href="#" Отделения
					  		li.employees-table-nav_item
								a href="#" Города
					  		li.employees-table-nav_item
								a href="#" Страны
						.employees-table-header.__regions
                          	.row
                                .col-xl-8
                                  	.row
										.col-xl-5.col-lg-4
											.form-group-material
												input#table-search.material-field type="text"
												span class="highlight"
												span class="bar"
												label.material-label for="table-search" Поиск наименованию отделения
												i class="zmdi zmdi-search zmdi-hc-fw"
										.col-xl-3.col-lg-4
											.input-group
												.dropdown.custom-dropdown
													button.button-dropdown.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Все страны
													.dropdown-menu
														a href="#" class="dropdown-item" Все страны
														a href="#" class="dropdown-item" Россия
														a href="#" class="dropdown-item" Россия
										.col-xl-3.col-lg-4
											.input-group
												.dropdown.custom-dropdown
													button.button-dropdown.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Все города
													.dropdown-menu
														a href="#" class="dropdown-item" Все города
														a href="#" class="dropdown-item" Москва
														a href="#" class="dropdown-item" Москва
								.col-xl-4
									.button
										i class="zmdi zmdi-plus"
										span Добавить новоe отделение
						.media-table id="accordion-table"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table1" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Care-tech
											span Россия
									.media-table__inner id="table1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title Город
											span Москва
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table2" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Care-tech
											span Россия
									.media-table__inner id="table2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title Город
											span Москва
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table3" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Care-tech
											span Россия
									.media-table__inner id="table3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title Город
											span Москва
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table4" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Care-tech
											span Россия
									.media-table__inner id="table4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title Город
											span Москва
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
							.media-table__item
								.dropdown
									.dropdown-toggle(data-toggle="collapse" data-target="#table5" aria-expanded="false" aria-controls="collapseTwo")
										.media-table__content
											strong Care-tech
											span Россия
									.media-table__inner id="table5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-table"
										.media-table__inner-content
											.media-table__title Город
											span Москва
										.media-table__inner-content
											.media-table__title Статус
											.status
												span Активен
												i class="icon icon-check"
						table.table.custom-table.main-table
							thead
								tr
									td
										a.table__filter href="#"
											span Отделение
											i.icon.icon-arrows-bottom
									td
										a.table__filter href="#"
											span Страна
											i.icon.icon-sort
									td
										a.table__filter href="#"
											span Город
											i.icon.icon-sort
									td
										a.table__filter href="#"
											span Статус
											i.icon.icon-sort
							tbody
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr.no-active
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Неавктивно
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
								tr
									td Care-tech
									td Россия
									td Москва
									td
										.status
											span Активно
											i class="icon icon-check"
									tr
										td Care-tech
										td Россия
										td Москва
										td
											.status
												span Активно
												i class="icon icon-check"
									tr
										td Care-tech
										td Россия
										td Москва
										td
											.status
												span Активно
												i class="icon icon-check"
									tr
										td Care-tech
										td Россия
										td Москва
										td
											.status
												span Активно
												i class="icon icon-check"
									tr
										td Care-tech
										td Россия
										td Москва
										td
											.status
												span Активно
												i class="icon icon-check"
