html lang="ru"
	head
		meta charset="UTF-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		meta http-equiv="X-UA-Compatible" content="ie=edge"
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
		title Document
	body
		.wrapper
			.container-fluid
				.main-header
					.main-header-action.inline-elements(id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						.button-ball.mr-3
							i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"
						span.text-18.fw_bold Вернуться к списку
				.main-tabs
					.block-tabs
						h2 Добавление отделения
						.tabs
							ul.nav.nav-tabs.custom-nav-tabs role="tablist"
								li.nav-item
									a.nav-link.active data-toggle="tab" href="#home" role="tab"
										.nav-link__content
											span 1
											strong Основные параметры
								li.nav-item
									a.nav-link data-toggle="tab" href="#home2" role="tab"
										.nav-link__content
											span 2
											strong Подробные данные
							.tab-content
								.tab-pane.active id="home" role="tabpanel"
									.block-data-employees
										.data-employees-header
											.row.mb_35
												.col-lg-4
													.form-group-material.form-group-material_bold
														input type="text"
														span class="highlight"
														span class="bar"
														label Наименование ООО

												.col-lg-4
													.form-group-material.form-group-material_bold
														input type="text"
														span class="highlight"
														span class="bar"
														label Страна
												.col-lg-4
													.form-group-material.form-group-material_bold
														input type="text"
														span class="highlight"
														span class="bar"
														label Город
											.row.align-items-center
												.col-lg-4
													.form-group-material.form-group-material_bold
														input type="text"
														span class="highlight"
														span class="bar"
														label Роялти, %
												.col-lg-4
													.styled-checkbox-group
														.checkbox
															label
																input type="checkbox" name="checkbox1"/
																span.checkbox-material
																	span.check
																| Головной офис
												.col-lg-4
													.input-group
														label.switch-box for="switch"
															input#switch type="checkbox"
															.switch
															span Активно
										.block-tabs-inputs-group.mb_39
											.text-14.fw_bold.text-uppercase.mb_35 Цены на дополнительные опции бронирования
											ul.additional-options
                                              	li.additional-options_item
                                                    span.additional-options_item_remove
                                                      	i.icon.icon-cancel
													.row.mb_35
														.col-lg-8
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label Наименование опции
														.col-lg-4
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label Цена
												li.additional-options_item
													span.additional-options_item_remove
														i.icon.icon-cancel
													.row.mb_35
														.col-lg-8
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label Наименование опции
														.col-lg-4
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label Цена
											.row.mb_35
												.col-lg-12
													a.add-option href="#"
														i.icon.icon-plus
														span Добавить опцию
										.save-employees
											.inline-elements.justify-content-end
												.button.button_green data-toggle="tab" href="#home2" role="tab"
													span Сохранить

								.tab-pane.employees-two-group id="home2" role="tabpanel"
									.block-data-employees
										.block-tabs-inputs-group.mb_39
											.text-14.fw_bold.text-uppercase.mb_35 Данные отделения для печатных форм
											.row.mb_35
												.col-lg-8
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Полное наименование
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label ФИО Директора
											.row.mb_35
												.col-lg-8
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Адрес
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Номер телефона
											.row.mb_35
                                              	.col-lg-9
                                                    .row
														.col-lg-3
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label ФИО Бухгалтера
														.col-lg-3
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label ОГРН
														.col-lg-3
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label ИНН
														.col-lg-3
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label КПП
												.col-lg-3
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Расчетный счет
										.block-tabs-inputs-group.mb_39
											.text-14.fw_bold.text-uppercase.mb_35 Параметры отделения для внесения в договор
											.row.mb_35
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Территория эксплуатации по умолчанию
												.col-lg-8
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Ограничение пробега
											.row.mb_35
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Территория 1
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Территория 2
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Территория 3
											.row.mb_35
												.col-lg-4
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Номер приказа об утверждении правил
												.col-lg-4
													.form-group-material.has-icon
														input#datepicker type="text"
														span class="highlight"
														span class="bar"
														label Дата приказа об утверждении правил
														i class="zmdi zmdi-calendar-note"
										.block-tabs-inputs-group.mb_39
											.text-14.fw_bold.text-uppercase.mb_35 Ревезиты банка отделения для печатных форм
											.row.mb_35
												.col-lg-7
													.form-group-material
														input type="text"
														span class="highlight"
														span class="bar"
														label Полное наименование банка
												.col-lg-5
                                                  	.row
														.col-lg-5
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label БИК
														.col-lg-7
															.form-group-material
																input type="text"
																span class="highlight"
																span class="bar"
																label Корреспондентский счет
										.block-tabs-inputs-group.mb_39
											.text-14.fw_bold.text-uppercase.mb_35 Изображения печати и подписи
											.row.mb_35
												.col-lg-4
													.form-group-material.has-icon
														input type="text" readonly="true" tabindex="-1"
														input type="file"
														span class="highlight"
														span class="bar"
														label Подпись директора (90 x 90 px)
														i class="zmdi zmdi-folder"
												.col-lg-4
													.form-group-material.has-icon
														input type="text" readonly="true" tabindex="-1"
														input type="file"
														span class="highlight"
														span class="bar"
														label Подпись бухгалтера (90 x 90 px)
														i class="zmdi zmdi-folder"
												.col-lg-4
													.form-group-material.has-icon
														input type="text" readonly="true" tabindex="-1"
														input type="file"
														span class="highlight"
														span class="bar"
														label Подпись бухгалтера (90 x 90 px)
														i class="zmdi zmdi-folder"
										.save-employees
											.inline-elements.justify-content-end
												.button.button_green
													span Сохранить
								.tab-pane.employees-checkbox-group id="home3" role="tabpanel"
									.block-tabs-inputs-group
										.row
											.col-lg-6
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"

												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
											.col-lg-6
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"

									.save-employees
										.inline-elements.justify-content-end
											.button.button_green
												span Сохранить


