html lang="ru"
	head
		meta charset="UTF-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		meta http-equiv="X-UA-Compatible" content="ie=edge"
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
		title Document
	body
		.wrapper
			.container-fluid
				.main-header
					.main-header-action.inline-elements(id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						.button-ball.mr-3
							i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"
						span.text-18.fw_bold Вернуться к списку
				.main-tabs
					.block-tabs
						h2 Добавление сотрудника
						.tabs
							ul.nav.nav-tabs.custom-nav-tabs role="tablist"
								li.nav-item
									a.nav-link.active data-toggle="tab" href="#home" role="tab"
										.nav-link__content
											span 1
											strong Данные пользователя
								li.nav-item
									a.nav-link data-toggle="tab" href="#home2" role="tab"
										.nav-link__content
											span 2
											strong Права
								li.nav-item
									a.nav-link data-toggle="tab" href="#home3" role="tab"
										.nav-link__content
											span 3
											strong Доступ к отделениям
							.tab-content
								.tab-pane.active id="home" role="tabpanel"
									.block-data-employees
										.data-employees-header
											.row.mb_35
												.col-lg-4
													.form-group-material.form-group-material_bold.has-error.form-group
														input type="text" class="is-invalid form-control"
														span class="highlight"
														span class="bar"
														label Имя
														.invalid-feedback Sorry, that username's taken. Try another?

												.col-lg-4
													.form-group-material.form-group-material_bold
														input type="text"
														span class="highlight"
														span class="bar"
														label Фамилия
												.col-lg-4
													.form-group-material.form-group-material_bold
														input#middle-name type="text"
														span class="highlight"
														span class="bar"
														label for="middle-name" Отчество
											.row.align-items-center
												.col-lg-4
													.form-group-material.form-group-material_bold
														input#email type="text"
														span class="highlight"
														span class="bar"
														label for="email" E-mail
												.col-lg-3
													.form-group-material.form-group-material_bold
														input#phone type="text"
														span class="highlight"
														span class="bar"
														label for="phone" Телефон
												.col-lg-3
													.form-group-material.input-group.form-group-material_bold.has-icon.date
														input#datepicker type="text"
														span class="highlight"
														span class="bar"
														label for="date" Дата рождения
														i class="zmdi zmdi-calendar-note"
												.col-lg-2
													.input-group
														label.switch-box for="switch"
															input#switch type="checkbox"
															.switch
															span Активен
										.data-employees-bottom
											.row
												.col-lg-12
													.form-group-material.mb_35
														input#passport.material-field type="text"
														span class="highlight"
														span class="bar"
														label.material-label for="passport" Паспортные данные
											.row.align-items-end
												.col-lg-8
													.form-group-material
														input#address type="text"
														span class="highlight"
														span class="bar"
														label Адрес регистрации
												.col-lg-4
													.dropdown.custom-dropdown
														label Роль
														button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
														.dropdown-menu(aria-labelledby="dropdownMenu2")
															a href="#" class="dropdown-item" Менеджер по продажам
															a href="#" class="dropdown-item" Менеджер по продажам2
															a href="#" class="dropdown-item" Менеджер по продажам3
										.save-employees
											.inline-elements.justify-content-end
												.button.button_green data-toggle="tab" href="#home2" role="tab"
													span Сохранить

								.tab-pane.employees-two-group id="home2" role="tabpanel"
									.block-data-employees
										.block-tabs-inputs-group.mb_39
											.row.mb_35
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Автомобили
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Клиенты
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Бронирование
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
											.row.mb_35
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Ремонт
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Отделения
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Станции аренды
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
											.row.mb_35
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Станции метро
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Регионы
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Отзывы
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
											.row.mb_35
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Обратная связь
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Отделения
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
												.col-lg-4
													.input-group
														.dropdown.custom-dropdown
															label Станции аренды
															button.button-dropdown.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Менеджер по продажам
															.dropdown-menu(aria-labelledby="dropdownMenu2")
																a href="#" class="dropdown-item" Менеджер по продажам
																a href="#" class="dropdown-item" Менеджер по продажам2
																a href="#" class="dropdown-item" Менеджер по продажам3
										.block-tabs-inputs-group.mb_77
											.text-14.fw_bold.text-uppercase.mb_19 Финансовые отчеты (пример с чекбоксами)
											.row
												.col-lg-auto.col-md-12
													.checkbox.mb_12
														label
															input type="checkbox" name="checkbox1"/
															span.checkbox-material
																span.check
															| Просмотр
												.col-lg-auto.col-md-12
													.checkbox.mb_12
														label
															input type="checkbox" name="checkbox2"/
															span.checkbox-material
																span.check
															| Добавление
												.col-lg-auto.col-md-12
													.checkbox.mb_12
														label
															input type="checkbox" name="checkbox2"/
															span.checkbox-material
																span.check
															| Изменение
										.save-employees
											.inline-elements.justify-content-end
												.button.button_green
													span Сохранить
								.tab-pane.employees-checkbox-group id="home3" role="tabpanel"
									.block-tabs-inputs-group
										.row
											.col-lg-6
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"

												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
											.col-lg-6
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Челябинск — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Санкт-Петербург — ООО "Сторлет Групп"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Набережные Челны — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Казань — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Волгоград — Автопрокат "Форвард"
												.checkbox.mb_12
													label
														input type="checkbox" name="checkbox2"/
														span.checkbox-material
															span.check
														| Новосибирск — ООО "Сторлет Групп"

									.save-employees
										.inline-elements.justify-content-end
											.button.button_green
												span Сохранить


