.block-header
header.header
	.header-wrap
	a.header-wrap__logo href="#" LOGO
	.header-wrap__title CRM
	.block-header-accordion id="accordion"
	.accordion-item
		.button-toggle.dropdown-toggle(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
		.header-profile
			.header-profile__img
			.header-profile__title Евгений Шпильман
		ul id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
		li link 1
		li link 2
	.accordion-item
		button.dropdown-toggle.button-toggle(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne")
		.header-profile Евгений Шпильман
		ul id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"
		li link 1
		li link 2