$icomoon-font-path: "../fonts" !default;

$icon-wrench: \e902;
$icon-sort: \e90b;
$icon-plus: \e910;
$icon-arrows-bottom: \e900;
$icon-calendar: \23;
$icon-check: \e903;
$icon-envelope: \e904;
$icon-hexagon: \e905;
$icon-line-chart: \e906;
$icon-pin: \e907;
$icon-public-transport: \e908;
$icon-return-arrows: \e909;
$icon-sport-car: \e90a;
$icon-calc: \e901;
$icon-pin-map: \e90d;
$icon-city: \e90e;
$icon-pin-round: \e90f;
$icon-cancel: \e90c;


// @font-face {
//   font-family: 'Helvetica';
//   font-style: normal;
//   font-weight: 800;
//   src: local('SF-UI-Text'), url('../fonts/SF-UI-Text-Heavy.woff') format('woff');
// }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/HelveticaRegular.ttf') format('ttf');
}


// @font-face {
//   font-family: 'Helvetica';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Helvetica Medium'), url('../fonts/HelveticaMedium.woff') format('woff');
// }


// @font-face {
//   font-family: 'Helvetica';
//   font-style: normal;
//   font-weight: 100;
//   src: local('Helvetica Thin'), url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
// }


@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Light'), url('../fonts/HelveticaLight.ttf') format('ttf');
}


@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 600;
  src: local('Helvetica Bold'), url('../fonts/HelveticaBold.ttf') format('ttf');
}


// @font-face {
//   font-family: 'Helvetica';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Helvetica Semibold'), url('../fonts/HelveticaSemibold.woff') format('woff');
// }



@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?a4xm3h');
  src:  url('#{$icomoon-font-path}/icomoon.eot?a4xm3h#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?a4xm3h') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?a4xm3h') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?a4xm3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-wrench {
  &:before {
    content: unicode($icon-wrench);
    color: #fff;
  }
  font-size: 20px !important;
}
.icon-sort {
  &:before {
    content: unicode($icon-sort);
    color: #989491;
  }
}
.icon-arrows-bottom {
  &:before {
    content: unicode($icon-arrows-bottom);
    color: #9c9895;
  }
  font-size: 5px !important;
}
.icon-calendar {
  &:before {
    content: unicode($icon-calendar); 
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check);
    color: #4caf4f;
  }
}
.icon-plus {
  &:before {
    content: unicode($icon-plus);
    color: #4caf4f;
  }
}
.icon-envelope {
  &:before {
    content: unicode($icon-envelope);
    color: #fff;
  }
  font-size: 16px !important;
}
.icon-hexagon {
  &:before {
    content: unicode($icon-hexagon);
    color: #5c4d1e;
  }
}
.icon-line-chart {
  &:before {
    content: unicode($icon-line-chart);
    color: #fff;
  }
  font-size: 16px !important;
}
.icon-pin {
  &:before {
    content: unicode($icon-pin);
    color: #fff;
  }
  font-size: 22px !important;
}
.icon-public-transport {
  &:before {
    content: unicode($icon-public-transport); 
  }
}
.icon-return-arrows {
  &:before {
    content: unicode($icon-return-arrows); 
  }
}
.icon-sport-car {
  &:before {
    content: unicode($icon-sport-car);
    color: #fff;
  }
  font-size: 16px !important;
}
.icon-calc {
  &:before {
    content: unicode($icon-calc); 
  }
}

.icon-city {
  &:before {
    content: unicode($icon-city);
  }
}
.icon-pin-map {
  &:before {
    content: unicode($icon-pin-map);
  }
}
.icon-pin-round {
  &:before {
    content: unicode($icon-pin-round);
  }
}
.icon-cancel {
  &:before {
    content: unicode($icon-cancel);
  }
}

