body.active {
  overflow: hidden;
}
.block-header {
  max-width: 260px;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  background: url('../images/bg-header.svg') no-repeat center center;
  background-size: cover;
  transition: all 0.3s ease;
  z-index: 10;
  // &.sidebar-mini {
  //   max-width: 100px;
  //   .header-wrap__title, .accordion-item {
  //     opacity: 0;
  //     visibility: hidden;
  //     overflow: hidden;
  //     transform: translate3d(-25px, 0, 0);
  //     // position: absolute;
  //     // flex-basis: 0;
  //   }
  // }
  // &:hover {
  //   max-width: 260px;
  //   .header-wrap__title, .accordion-item {
  //     opacity: 1;
  //     visibility: visible;
  //     overflow: visible;
  //     transform: translate3d(0, 0, 0);
  //     position: static;
  //     // flex-basis: 0;
  //   }
  // }
  .dropdown-toggle {
    white-space: nowrap;
    &:after {
      color: rgba( 255,255,255, 0.3);
    }
  }
}

.header {
  background: rgba(32, 33, 29, 0.95);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: scroll;
}
.header-wrap {
  background: #221F1C;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.5);
  &__title {
    font-weight: bold;
    font-size: 18px;
    transform: translate3d(0, 0, 0);
    // color: #565451;
    color: rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    transition: all 300ms linear;
  }
}

.block-accordion-inner {
  .accordion-inner__item {
    cursor: pointer;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
    &[aria-expanded="true"] {
      text-decoration: none;
      color: #fff;
      background: rgba(0, 0, 0, 0.26);
      &:after {
        transform: rotate(-180deg);
      }
    }
  }
}

.header-inner-list {
  &__item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 0 15px;
    color: #fff;
    &:first-child {
      margin-top: 10px;
    }
    span {
      font-size: em(14);
      line-height: 1;
    }
    i {
      // margin-right: 15px;
      width: 33px;
    }
    &:hover {
      color: #2D2C2C;
      text-decoration: none;
      background: #F9DB05;
    }
  }
}

.header-profile {
  display: flex;
  align-items: center;
  &__img {
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 34px;
    height: 34px;
    background: #fefefe;
    margin-right: 15px;
    flex: 0 0 auto;
  }
  &__title {
    color: #fff;
    letter-spacing: 0.4px;
    // font-size: em(14);
    font-size: 14px;
  }
}

