@media screen and (max-width: 1500px) {
	.employees-table-header {
		&.__regions {
			.form-group-material {
				margin-right: 0;
			}
		}
	}
}
@media screen and (max-width: 1439px) {
	.block-header {
		max-width: 100px;
		.header-wrap__title, .accordion-item {
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			transform: translate3d(-25px, 0, 0);
			// position: absolute;
			// flex-basis: 0;
		}
	}
	.main {
		margin-left: calc( 100px + 15px);
	}
}
@media screen and (max-width: 1240px) {
	.employees-header__settings {
		margin-top: 25px;
	}
}
@media screen and (max-width: 1200px) {
	.employees-table-header {
		flex-direction: column;
		align-items: flex-start;
		&.__regions {
			.form-group-material, .input-group {
				margin-bottom: 20px;
			}
		}
		&-search {
			margin: 0 0 20px 0;
		}
	}
}
@media screen and (max-width: 1190px) {
	.main-table {
		td {
			&:nth-child(6) {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.regions-statistic {
		margin-bottom: 25px;
		&_item {
			margin-bottom: 30px;
		}
	}
	.main-table {
		td {
			&:nth-child(5) {
				display: none;
			}
		}
	}
	.tabs {
		.form-group-material, .input-group, .styled-checkbox-group {
			margin-bottom: 35px;
		}
	}
}

@media screen and (min-width: 668px) {
	.block-header {
		  &:hover {
			max-width: 260px;
			.header-wrap__title, .accordion-item {
			opacity: 1;
			visibility: visible;
			overflow: visible;
			transform: translate3d(0, 0, 0);
			position: static;
			// flex-basis: 0;
			}
		}
		&.sidebar-mini {
			max-width: 100px;
			.header-wrap__title, .accordion-item {
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			transform: translate3d(-25px, 0, 0);
			// position: absolute;
			// flex-basis: 0;
			}
			&:hover {
				max-width: 260px;
				.header-wrap__title, .accordion-item {
				opacity: 1;
				visibility: visible;
				overflow: visible;
				transform: translate3d(0, 0, 0);
				position: static;
				// flex-basis: 0;
				}
			}
		}
	}
	.main {
	
		&.sidebar-mini {
			margin-left: calc( 100px + 15px);
		}
	}
}
@media screen and (max-width: 900px) {
	.employees-table-header {
		&-search {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			.form-group-material {
				margin: 0 0 20px 0;
			}
		}
	}
	.main-table {
		td {
			&:nth-child(4) {
				display: none;
			}
		}
	}
	.employees-header__settings {
		display: block;
		.dropdown.custom-dropdown {
			// max-width: 330px;
			margin-bottom: 30px;
		}
		.search-field {
			margin-left: 0;
			margin-bottom: 30px;
		}
	}
}


@media screen and (max-width: 667px) {
	.employees-table-header {
		&-search {
			.form-group-material {
				min-width: 100%;
			}
		}
		.button {
			width: 100%;
		}
	}
	.main {
		padding-right: 0;
	}
	.wrapper {
		background: #fff;
	}
	.main-header {
		padding-top: 0;
	}
	.main-header-action {
		margin: 0 -15px;
		background: #2D2C2C;
		color: #fff;
		padding: 0 15px;
		height: 60px;
		.button-ball {
			border-radius: 0;
			background: transparent;
			color: #fff;
			width: inherit;
			height: inherit;
		}
	}

	.block-tabs {
		h2 {
			display: none;
		}
	}
	.main-tabs {
		padding-top: 50px;
	}
	.custom-nav-tabs {
		background: transparent;
		// width: 100%;
		overflow-x: auto;
		max-width: 100%;
		height: inherit;
		flex-wrap: nowrap;
		align-items: flex-end;
		border-radius: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		margin-bottom: 25px;
		.nav-item {
			flex: 0 0 auto;
		}
		.nav-link {
			&.active {
				margin-top: 0;
				height: inherit;
				padding-top: 0;
				border-radius: 0;
				border-bottom: 4px #F9DB05 solid;
				color: #2D2C2C;
			}
			color: #9C9895;
			font-size: em(14);
			border: none;
			border-bottom: 4px #E1E1E1 solid;
			padding-bottom: 9px;
			padding-right: 16px;
			padding-left: 16px;
			.nav-link__content {
				span {
					display: none;
				}
			}
		}

	}
	.tabs {
		.tab-pane {
			padding: 25px 0 0;
		}
		.row[class*="mb_"] {
			margin-bottom: 0 ;
		}
		.save-employees {
			margin: 0 -15px;
		}

		.button {
			max-width: 100%;
			display: flex;
			width: 100%;
			border-radius: 0;
			padding: 13px 22px 13px 15px
		}
		.styled-checkbox + label {
			width: 100%;
		}

	}
	.data-employees-header {
		border-bottom: none;
		padding: 0;
		margin: 0;
	}
	.dropdown.custom-dropdown {
		width: 100%;
		.dropdown-menu {
			width: 100%;
		}
	}
	.block-tabs-inputs-group {
		margin-bottom: 30px;
	}
	.data-employees-bottom {
		margin-bottom: 39px;
	}

	.main {
		margin-left: 0;
	}
	.main-table {
		display: none;
	}
	.block-employees-table {
		padding: 30px 0 28px;
	}
	.employees-header {
		display: none;
	}
	.media-toggle-menu {
		display: flex;
	}
	.media-table, .header-media-action {
		display: block;
	}
	.header {
		padding-top: 60px;
	}

	.block-header {
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		max-width: 100%;
		&.active {
			visibility: visible;
			overflow: visible;
			opacity: 1;
		}
	}
	.block-header.sidebar-mini .header-wrap__title, .block-header.sidebar-mini .accordion-item {
			opacity: 1;
			visibility: visible;
			overflow: visible;
			transform: translate3d(0, 0, 0);
			position: static;
	}
	.block-header {
		.header-wrap__title, .accordion-item {
			opacity: 1;
			visibility: visible;
			overflow: visible;
			transform: translate3d(0, 0, 0);
			position: static;
			// flex-basis: 0;
		}
	}
	.header-wrap {
		height: 60px;
		min-height: 60px;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		width: 100%;
		&__logo {
			margin-right: 18px;
		}
	}
}