.wrapper {
  background: #f1f1f1;
  &.__bg-login {
    background: url('../images/bg-login.svg') no-repeat center center;
    background-size: cover;
  }
  &.__full-screen {
    position: relative;
    min-height: 100vh;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.85;
      background-color: #2d2c2c;
    }
    .container-fluid {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.main {
  margin-left: calc( 260px + 15px);
  // padding-top: 22px;
  transition: all 0.3s ease;
  padding-right: 16px;
  // &.sidebar-mini {
  //   margin-left: calc( 100px + 15px);
  // }
}

.main-header {
  padding-top: 22px;
  &-action {
    display: flex;
    align-items: center;
    .button-ball {
      margin-right: 12px;
    }
    span {
      letter-spacing: 0.36px;
      line-height: (22 / 18);
    }
  }
}

.main-tabs {
  // min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-tabs {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  h2 {
    margin-bottom: 48px;
    font-size: em(36);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.72px;
  }
}

.tabs {
  .tab-pane {
    padding: 47px 39px 39px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    &.employees-two-group {
      padding: 36px 39px 39px;
      .dropdown {
        width: 100%;
      }
    }
    &.employees-checkbox-group {
      padding: 58px 39px 39px;
      .row {
        margin: 0;
        [class^="col-"] {
          padding: 0;
        }
      }
    }
  }
}

.data-employees-header {
  border-bottom: 6px #2D2C2C solid;
  margin-bottom: 61px;
  padding-bottom: 50px;
}
.data-employees-bottom {
  margin-bottom: 85px;
}

.custom-nav-tabs {
  background: #F9DB05;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  height: 40px;
  .nav-item {
    margin-bottom: 0;
    position: relative;
  }
  .nav-link {
    border: none;
    color: #2D2C2C;
    font-size: em(12);
    letter-spacing: 0.46px;
    transition: all 0.1s ease;
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 10px;
    .nav-link__content {
      position: relative;
      z-index: 2;
      span {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #E1C709;
        font-weight: bold;
        margin-right: 9px;
        transition: all 0.1s ease;
      }
    }
    &.active {
      margin-top: -15px;
      height: 70px;
      padding-top: 17px;
      border-radius: 5px;
      .nav-link__content {
        span {
          background: #F9DB05;
        }
      }
    }
  }
}

.search-field {
  margin-left: 61px;
  input {
    min-width: 200px;
  }
  i {
    color: #9C9895;
  }
  .form-group-material {
    margin-right: 13px;

  }
}

.block-employees-table {
  background: #fff;
  padding: 39px 17px 20px 20px;
  border-radius: 3px;
}

.table.custom-table {
  th, td {
    border-top: none;
  }
  tr {
    &.no-active {
      color:#9C9895;
    }
  }

  .toggle-table {
    border-bottom: 1px #9C9895 dashed;
    cursor: pointer;
  }


  tbody {
    tr {
      &:nth-child(odd) {
        background: #eceded;
      }
      td {
        font-size: em(14);
      }
    }
    ul {
      // margin-top: 15px;
      li {
        &:first-child {
          padding-top: 15px;
        }
        font-size: em(11);
        letter-spacing: 0.4px;
        line-height: (17 / 11);
      }
    }
  }
}

.status {
  display: inline-flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
  i {
    color: #4CAF4F;
  }
}

.table__filter {
  color: #989491;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  &:hover {
    color: #989491;
    text-decoration: none;
    opacity: 0.8;
  }
  span {
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: em(11);
    margin-right: 3px;
  }
  i {
    font-size: em(11);
  }
}

.employees-table {
  &-nav {
    display: flex;
    padding: 15px 20px;
    margin-bottom: 35px;
    margin: -55px 0 35px;
    background: #F9DB05;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: -1px 1px 7px 1px rgba(249, 219, 5, 0.24);
    &_item {
      margin-right: 10px;
      a {
        display: block;
        padding: 15px 19px;
        font-size: em(12);
        font-weight: bold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #2d2c2c;
        transition: all 0.2s ease;
      }
      &.__active a, & a:hover {
        background-color: rgba(45, 44, 44, 0.12);
      }
    }
  }
}

.regions-statistic {
  padding-top: 60px;
  margin-bottom: 55px;
  &_item {
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -2px 1px 5px 1px rgba(0, 0, 0, 0.04);
    &_content {
      display: flex;
    }
    &_footer {
      margin-top: 20px;
      padding: 17px 0 3px;
      border-top: 1px solid rgba(45, 44, 44, 0.06);
      p {
        margin-bottom: 0;
        font-size: em(12);
        color: #9c9895;
      }
    }
  }
  &_img {
    display: flex;
    margin-top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: -1px 1px 7px 1px rgba(249, 219, 5, 0.24);
    &.__branch {
      background-color: #f9db05;
    }
    &.__city {
      background-color: #f8ac14;
    }
    &.__country {
      background-color: #f67824;
    }
    .icon {
      margin: auto;
      font-size: em(43);
      &:before {
        color: #2d2c2c;
        opacity: 0.5;
      }
    }
  }
  &_text {
    margin-left: auto;
    text-align: right;
    letter-spacing: 0.5px;

    h6 {
      margin-bottom: 0;
      font-size: em(14);
    }
    span {
      font-size: em(36);
      font-weight: bold;
    }
  }
}

.employees-table-header {
  padding: 0 12px;
  margin-bottom: 53px;
  &.__regions {
    .form-group-material {
      margin-right: 48px;
    }
  }
  .form-group-material {
    i {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: em(18);
      color: #9C9895;
      transform: translateY(-50%);
    }
  }
  .input-group .dropdown {
    width: 100%;
  }
  &-search {
    margin-right: 65px;
    .form-group-material {
      margin-right: 45px;
      min-width: 420px;
    }
  }
}


.media-table {
  display: none;
  &__item {
    padding: 11px 9px 11px;
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      background: #F0F0F0;
    }
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &[aria-expanded="true"] {
      &:after {
        transform: rotate(-180deg);
      }
    }
    &:after {
      color: #9C9895;
      transition: all 0.2s ease;
    }
  }
  &__content {
    font-size: em(14);
    strong {
      border-bottom: 1px #C6C4C2 solid;
      letter-spacing: 0.4px;
      line-height: (20 / 14);
      display: inline-block;
      margin-bottom: 3px;
    }
    span {
      letter-spacing: 0.4px;
      line-height: (20 / 14);
      display: block;
    }
  }
  &__inner {
    padding-top: 8px;
  }
  &__title {
    font-size: 12px;
    color: #9B9794;
    letter-spacing: 0.4px;
    margin-bottom: 3px;
  }
  &__inner-content {
    margin-bottom: 10px;
    font-size: em(14);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.media-toggle-menu {
  margin: 0 -15px;
  padding: 0 15px;
  height: 60px;
  background: #2D2C2C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  display: none;
}
.toggle-menu {
  width: 26px;
  height: 14px;
  position: relative;
  &.active {
    z-index: 11;
    span {
      &:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
      }
      &:last-child {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }
      &:nth-child(2) {
        right: -10px;
        opacity: 0;
      }
    }
  }
  span {
    background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    transition: all 0.2s ease;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      top: 100%;
      transform: translateY(-100%);
    }
  }
}

.header-media-action {
  padding: 22px 15px 0;
  margin-bottom: 20px;
  display: none;
  .form-group-material {
    width: 100%;
  }
  .search-field {
    margin-left: 0;
    margin-bottom: 25px;
    input {
      color: #fff;
    }
    .button-ball {
      flex: 0 0 auto;
    }
  }
  .dropdown.custom-dropdown {
    margin-bottom: 25px;
    button {
      border-bottom: none;
      color: #fff;
      &:after {

      }
    }
  }
  .button {
    border-radius: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    // margin: 0 -15px;
    i {
      display: none;
    }
  }
}

.employees-header__settings {
  .dropdown.custom-dropdown {
    max-width: 330px;
  }
}

.block-auth {
  margin: auto;
  min-width: 360px;
  transform: translateY(-35px);
  &_header {
    margin-bottom: 25px;
    text-align: center;
    h2 {
      font-weight: 300;
      font-size: 36px;
      letter-spacing: 0.7px;
      color: #ffffff;
    }
  }
  &_content {
    padding: 15px 35px 20px;
    border-radius: 5px;
    background-color: #fff;
  }
  &_form {
    fieldset {
      margin-top: 43px;
    }
    &_footer {
      a {
        font-size: 12px;
        letter-spacing: 0.2px;
        color: #9c9895;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      .button {
        margin-top: 45px;
        width: 100%;
      }
    }
    fieldset.block-auth_form_footer {
      margin-top: 30px;
    }
  }
}

.additional-options_item {
  position: relative;
  &_remove {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: -28px;
    font-size: em(10);
    cursor: pointer;
    transform: translateY(-50%);
  }
}