.add-option {
  display: flex;
  align-items: center;
  font-size: em(14);
  &:hover {
    text-decoration: none;
  }
  .icon {
    font-size: em(20);
  }
  span {
    margin-left: 10px;
    letter-spacing: 0.4px;
  }
}

.font-color {
  &_gray {
    color: #989491 !important;
  }
}
.accordion-item {
  // padding: 0 15px;
  margin-bottom: 10px;
  transition: all 300ms linear;
  .button-toggle {
    span {
      font-size: em(11);
      text-transform: uppercase;
      letter-spacing: 0.31px;
      color: rgba(255,255,255, 0.3);
      font-weight: bold;
      white-space: nowrap;
      transition: all 300ms linear;
      transition: all 0.2s ease;
    }
    &:after {
      transition: all 0.2s ease;
    }
    &:hover {
      span {
        color: #F9DB05;
      }
    }
  }
  .button-toggle[aria-expanded="true"] {
    &:after {
      transform: rotate(180deg);
    }
    span {
      color: #F9DB05;
    }
  }
}

.accordion-inner {
  // padding: 0 15px;
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 15px;
    color: #fff;
    border-radius: 3px;
    transition: all 0.1s ease;
    // margin-top: 10px;
    margin: 10px 15px 0;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      transition: all 0.2s ease;
    }
    i {
      // margin-right: 15px;
      display: inline-block;
      font-size: em(20);
      // font-size: 14px;
      width: 33px;
      flex: 0 0 auto;
    }
    span {
      font-size: em(14);
      margin-right: 11px;
      letter-spacing: 0.4px;
      line-height: (26 / 14);
      white-space: nowrap;
      flex: 0 0 auto;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(0, 0, 0, 0.26);
    }
  }
}

.label-red {
  background: #F54336;
  border-radius: 10px;
  display: inline-flex;
  color: #fff;
  font-size: em(11);
  font-weight: bold;
  line-height: 1;
  padding: 3px 9px 2px;
}

.button-toggle {
  padding: 11px 25px 11px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}



.button {
  background: #0DB4C9;
  box-shadow: 0 1px 2px 0 rgba(18,183,204,0.6);
  border-radius: 3px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 20px 0 15px;
  min-width: 160px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(18,183,204,0.6);
  }
  &_green {
    background: #4CAF4F;
    box-shadow: 0 1px 2px 0 rgba(76, 175, 79, 0.6);
    // text-align: center;
    justify-content: center;
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(76, 175, 79, 0.6);
    }
  }
  &_green-radius {
    border-radius: 20px;
    background: #4CAF4F;
    box-shadow: 0 1px 2px 0 rgba(76, 175, 79, 0.6);
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(76, 175, 79, 0.6);
    }
  }
  &_yellow-radius {
    letter-spacing: 0.3px;
    text-align: center;
    color: #2d2c2c;
    font-size: 11px;
    border-radius: 20px;
    background-color: #f9db05;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 1px 2px 0 rgba(249, 219, 5, 0.5);
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(249, 219, 5, 0.5);
    }
  }
  i {
    font-size: 28px;
    line-height: 16px;
    // line-height: 1;
    // line-height: (13 / 11);
  }
  span {
    font-size: em(12);
    line-height: (14 / 12);
    font-weight: bold;
    letter-spacing: 0.31px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}


.dropdown.custom-dropdown {
  label {
    margin-bottom: 0;
    font-size: em(12);
    color: #9B9794;
    letter-spacing: 0.4px;
  }
  button {
    padding: 0 0 3px;
    border-bottom: 1px #E1E1E1 solid;
    font-size: em(14);
    // min-width: 300px;
    letter-spacing: 0.36px;
    line-height: (17 / 14);
    max-width: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    &[aria-expanded="true"] {
      &:after {
        transform: rotate(180deg);
      }
    }
    &:after {
      font-size: 5.5px;
      margin-right: 5px;
      transition: all 0.1s ease;
    }
    &:focus {
      outline: none;
    }
  }
  .dropdown-menu {
    box-shadow: 0 4px 10px 0 rgba(0,0,0, 0.25);
    padding: 10px 8px 18px;
    border: none;
    margin: -2px 0 0;
    // min-width: 120%;
    width: 100%;
  }
  .dropdown-item {
    font-size: em(14);
    color: #2D2C2C;
    padding: 6px 11px;
    transition: all 0.2s ease;
    &:hover {
      background: #F9DB05;
      box-shadow: 0 3px 4px 0 rgba(45, 44, 44, 0.15);
    }
  }
}

.inline-elements {
  display: flex;
  align-items: center;
}

.button-ball {
  width: 40px;
  height: 40px;
  font-size: em(24);
  color: #2D2C2C;
  // color: #9C9895;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-14 {
  font-size: em(14);
  letter-spacing: 0.28px;
}
.text-18 {
  font-size: em(18);
  // font-weight: bold;
  letter-spacing: 0.36px;
}
.fw {
  &_bold {
    font-weight: bold;
  }
}

.form-group-material {
  position: relative;
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  input {
    font-size: em(14);
    padding: 7px 0 7px;
    height: 38px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E1E1E1;
    line-height: 1;
    background: transparent;
    &.form-control {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      // .form-group-material .bar:before, .form-group-material .bar:after
    }
    &:focus {
      outline:none;
    }
    &:focus ~ label {
      top:-28px;
      font-size: 12px;
      line-height: (14 / 12);
      left: 0;
    }
  }
  &_bold {
    input {
      font-size: em(18);
      padding: 7px 0;
      font-weight: bold;
      border-bottom: 2px #2D2C2C solid;
    }
  }

  label {
    color: #9B9794;
    font-size: em(13);
    position: absolute;
    pointer-events: none;
    display: inline-block;
    max-width: 100%;
    top: -8px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    line-height: (17 / 14);
    will-change: left, top, contents;
    pointer-events: none;
    margin-top: 16px;
    font-weight: 400;
    letter-spacing: 0.47px;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before, .bar:after 	{
    content:'';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #F9DB05;
    transition: all 0.3s ease-out;
  }

  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }

  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease-out;
  }

}
.form-group-material.has-value label{
  top:-28px;
  font-size:12px;
  left: 0;
  line-height: (14 / 12);
}
.form-group-material.has-error {
  label {
    top:-28px;
    font-size:12px;
    left: 0;
    line-height: (14 / 12);
    color: #dc3545;
  }
  input:focus ~ .highlight {
    // background: #dc3545;
    animation: inputHighlighterError 0.3s ease-out;
  }

  .bar:before, .bar:after 	{
    background: #dc3545;
  }
  .invalid-feedback {
    position: absolute;
  }

}

.form-group-material.has-icon {
  position: relative;
  input {
    padding-right: 20px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 2px;
    font-size: em(24);
    transform: translateY(-50%);
    color: #9C9895;
    pointer-events: none;
  }
}

.checkbox {
  position: relative;
  label {
    cursor: pointer;
    padding-left: 0;
    color: #2D2C2C;
    font-size: em(14);
    line-height: 1.42857;
    font-weight: 400;
    min-height: 20px;
    margin-bottom: 0;
    letter-spacing: 0.36px;
  }
  input[type=checkbox] {
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 0;
      pointer-events: none;
      line-height: normal;
  }

  .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 4px;
    padding-right: 10px;
    &:before {
      content: "";
      animation: rippleOff 500ms;
      display: block;
      position: absolute;
      left: 0;
      background-color: rgba(0, 0, 0, 0.84);
      height: 20px;
      width: 20px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
      transform: scale3d(2.3, 2.3, 1);
    }
  }
  .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0, .54);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
    &:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-top: -3px;
      margin-left: 7px;
      width: 0;
      height: 0;
      background: red;
      box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
      animation: checkbox-off 0.3s forwards;
    }
  }
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #F9DB05;
  border-color: #2D2C2C;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #2D2C2C;
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  animation: checkbox-on 0.3s forwards;
}
.checkbox input[type=checkbox]:checked + .checkbox-material:before {
  animation: rippleOn 500ms;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {

}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
  animation: rippleOff 500ms;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
  // animation: rippleOff 500ms;
  background: #2D2C2C;
}
fieldset[disabled] .checkbox, fieldset[disabled] .checkbox input[type=checkbox],
.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check,
.checkbox input[type=checkbox][disabled] + .circle {
  opacity: 0.5;
}
.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
  border-color: #000000;
  opacity: .26;
}
.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
  background-color: rgba(0,0,0, 0.87);
  transform: rotate(-45deg);
}
.checkbox.has-error label {
  color: #f44336;
}


@keyframes rippleOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

.styled-checkbox {
  // position: absolute;
  // opacity: 0;
  // width: 0;
  // height: 0;


  & + label {
    // position: relative;
    // cursor: pointer;
    // padding: 0;
    // margin-bottom: 0;
    // font-size: em(14);
    // display: flex;
    // align-items: center;
    // letter-spacing: 0.36px;
  }

  // Box.
  & + label:before {
    // content: '';
    // margin-right: 10px;
    // display: inline-block;
    // vertical-align: text-top;
    // width: 18px;
    // height: 18px;
    // background: white;
    // border: 1px #9C9895 solid;
    // border-radius: 3px;
  }

  // Box hover
  &:hover + label:before {
    // background: #2D2C2C;
    // background-image: url('../images/check.svg');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: 80%;
  }
  
  // Box focus
  &:focus + label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  // &:checked + label:before {
  //   background-color: #2D2C2C;
  //   background-image: url('../images/check.svg');
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: 80%;
  //   border-color: #2D2C2C;
  // }
  
  // Disabled state label.
  // &:disabled + label {
  //   color: #b8b8b8;
  //   cursor: auto;
  // }

  // Disabled box.
  // &:disabled + label:before {
  //   box-shadow: none;
  //   background: #ddd;
  // }

  // Checkmark. Could be replaced with an image
  // &:checked + label:after {
  //   content: '';
  //   position: absolute;
  //   width: 14px;
  //   height: 14px;
  //   left: 2px;
  //   top: 5px;
  //   border-radius: 50%;
  //   background: #F9DB05;
  //   // transform: translate(-50%, -50%);
  // }
}

.switch-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
  & > span {
    letter-spacing: 0.36px;
    font-weight: bold;
    font-size: em(14);
    margin-left: 11px;
  }

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 24px;
    background: #9C9895;
    display: block;
    border-radius: 12px;
    position: relative;
    margin-bottom: 0;
  }

  .switch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

  input:checked + .switch {
    background: #4CAF4F;
  }

  input:checked + .switch:before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

}



.mb {
  &_12 {
    margin-bottom: 10px;
  }
  &_19 {
    margin-bottom: 19px;
  }
  &_22 {
    margin-bottom: 22px;
  }
  &_23 {
    margin-bottom: 23px;
  }
  &_26 {
    margin-bottom: 26px;
  }
  &_35 {
    margin-bottom: 35px;
  }
  &_37 {
    margin-bottom: 37px;
  }
  &_39 {
    margin-bottom: 39px;
  }
  &_77 {
    margin-bottom: 77px;
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    content: '\e900';
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // color: rgba( 255,255,255, 0.3);
    color: #9C9895;
    font-size: 6px;
    width: auto;
    height: auto;
    margin-left: 7px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}





/* ANIMATIONS ================ */

@keyframes inputHighlighter {
	from { background:#F9DB05; }
  to 	{ width:0; background:transparent; }
}


@keyframes inputHighlighterError {
	from { background:#dc3545; }
  to 	{ width:0; background:transparent; }
}